
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
    width: 100%;
    background-image: url("assets/banner1.png");

    
}

nav {
    display: flex;
    justify-content: space-between;
   padding: 50px 100px;
}

nav > div:nth-child(2) > img{
    width: 130px;
}

nav > div:last-child > img {
    padding: 0 10px;
}

h1 {
    font-family:"Yanone Kaffeesatz", sans-serif;
    color: white;
    font-size: 100px;
}
h2 {
    font-family:"PT Sans", sans-serif;
    color: white;
    font-size: 40px;
}

section > div:first-child > button {
    background-color: #FF2424;
    color: white;
    padding: 10px;
}